# env
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

# data
data/
01_DATA/
private/

# OS / Editor
.DS_Store
Thumbs.db

# logs
*.log
# Modell-Outputs (zu groß für Git)
outputs/**/*.npy
outputs/**/*.pt
outputs/**/*.pth

# Projektdateien
project_tree.txt